{% extends "main.html" %}
{% block content %}
<section>
    <h2>New Item</h2>
    <form action="#" method="post">
        <label for="name">Name</label>
        <input type="text" maxlength="250" class="text-input" name="name" placeholder="Name of the item">
        
        <label for="description">Description</label>
        <input type="text" maxlength="2000" class="text-input" name="description" placeholder="Description of the item">

        <label for="category">Category</label>
        <select name="category">
            {% for category in categories %}
                <option value="{{category.id}}" {% if default_category.id == category.id %}selected{% endif %}>{{category.name}}</option>
            {% endfor %}
        </select>

        <button type="submit">Submit</button>
    </form>
</section>
{% endblock %}
